@import 'variables';

h1 {
   color: $red-color;
}

.card-course-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.image-course-item {
    max-width: $width-image;
    height: $height-image;
}

.navbar-course-item {
    background-color: rgb(226, 226, 226);
    text-align: center;
}

.course-list {
    list-style: none;
    background-color:rgb(148, 224, 86);
    width: auto;
    height: 30px;
    font-size: 20px;
    color: #999
}

.body-course-item {
    background-color: rgb(246, 243, 243);
    
}

.form-style {
    margin: 10px;
}

.navbar-option {
    margin: 0 40px;
}

.user-avatar {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    margin-right: 4px;
}

// .option-create {

// }