<div class="mt-4">
    <form method="POST" action="/courses/store">
        <div class=" form-group form-style">
            <h2>Create course</h2>
            <div class="mb-3 ">
                <label for="inputName">Name course</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputName" name="name">
                </div>
            </div>

            <div class="mb-3 ">
                <label for="inputDescription">Description course</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputDescription" name= "description">
                </div>
            </div>

            <div class="mb-3 ">
                <label for="inputVideoId">VideoId</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputVideoId" name="videoId">
                </div>
            </div>

            <div class="mb-3 ">
                <label for="inputLevel">Level</label>
                <div class="col-sm-10">
                <input type="text" class="form-control" id="inputLevel" name="level">
                </div>
            </div>

            <div class="">
                <div class="col-lg-2">
                    <button type="submit" class="btn btn-primary ">Add course</button>
                </div>
            </div>
        </div>
    </form>
</div>
